aiohttp==3.8.1
aiohttp-retry==2.8.3
aiosignal==1.2.0
alembic==1.8.1
amqp==5.1.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
asttokens==2.0.8
async-timeout==4.0.2
asyncssh==2.12.0
atpublic==3.1.1
attrs==22.1.0
Automat==20.2.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
billiard==3.6.4.0
blinker==1.4
celery==5.2.7
certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloud-init==22.2
cloudpickle==2.1.0
cohere==2.2.5
colorama==0.4.4
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
cycler==0.11.0
databricks-cli==0.17.3
dbus-python==1.2.18
debugpy==1.6.3
decorator==5.1.1
dictdiffer==0.9.0
diskcache==5.4.0
distro==1.7.0
distro-info===1.1build1
docker==5.0.3
dpath==2.0.6
dulwich==0.20.46
dvc==2.24.0
dvc-data==0.4.0
dvc-http==2.19.1
dvc-objects==0.2.0
dvc-render==0.0.9
dvc-task==0.1.2
dvclive==0.10.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.0.0
Flask==2.2.2
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.37.1
frozenlist==1.3.1
fsspec==2022.8.2
funcy==1.17
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
grandalf==0.6
greenlet==1.1.3
gunicorn==20.1.0
httplib2==0.20.2
hydra-core==1.2.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==21.3.0
ipykernel==6.15.2
ipython==8.5.0
itsdangerous==2.1.2
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.0.3
joblib==1.1.0
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
jupyter-core==4.11.1
jupyter_client==7.3.5
keyring==23.5.0
kiwisolver==1.4.4
kombu==5.2.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
Mako==1.2.2
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mlflow==1.28.0
more-itertools==8.10.0
multidict==6.0.2
nanotime==0.5.2
nest-asyncio==1.5.5
netifaces==0.11.0
networkx==2.8.6
numpy==1.23.2
oauthlib==3.2.0
omegaconf==2.2.3
openpyxl==3.0.10
packaging==21.3
pandas==1.4.4
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
plotly==5.10.0
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.3
prompt-toolkit==3.0.31
protobuf==4.21.5
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycparser==2.21
pydot==1.4.2
pygit2==1.10.1
Pygments==2.13.0
PyGObject==3.42.1
pygtrie==2.5.0
PyHamcrest==2.0.2
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
pytz==2022.1
PyYAML==5.4.1
pyzmq==23.2.1
querystring-parser==1.2.4
requests==2.25.1
rich==12.5.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==1.1.2
scipy==1.9.1
scmrepo==0.0.25
seaborn==0.12.0
SecretStorage==3.3.1
service-identity==18.1.0
shortuuid==1.0.9
shtab==1.5.5
six==1.16.0
sklearn==0.0
smmap==5.0.0
sos==4.3
SQLAlchemy==1.4.41
sqlparse==0.4.2
ssh-import-id==5.11
stack-data==0.5.0
SVC==0.1
systemd-python==234
tabulate==0.8.10
tenacity==8.0.1
threadpoolctl==3.1.0
tomlkit==0.11.4
tornado==6.2
tqdm==4.64.1
traitlets==5.3.0
Twisted==22.1.0
typing_extensions==4.3.0
ubuntu-advantage-tools==27.10
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
vine==5.0.0
voluptuous==0.13.1
wadllib==1.3.6
wcwidth==0.2.5
websocket-client==1.4.1
Werkzeug==2.2.2
xlrd==2.0.1
yarl==1.8.1
zc.lockfile==2.0
zipp==1.0.0
zope.interface==5.4.0
